@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ProductDetailModel
@{

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <div class="row">
        <div class="col-md-3">
            <img class="img-fluid" src="https://images-na.ssl-images-amazon.com/images/I/41VEJ7iQ18L._AC_SY1000_.jpg" />
        </div>
        <div class="col-md-9">
            <h1 class="mb-3">@Model.Product.name</h1><hr />
           
            @foreach (var iter in Model.Categories)
            {
                <a href="/products/@iter.Url" class="btn btn-danger p-0 mb-3">@iter.name</a>
               
            }

            <div class="mb-3">
                <h4 class="text-primary mb-3">
                    @Model.Product.image
                </h4>
            </div>

            <button type="submit" class="btn btn-outline-dark">Add to Card</button>
        </div>
    </div>



}
